@page
@model EllroyVetClinic.Pages.Pets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form aso-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by pet type:
            <input type="text" name="SearchString"
        </p>
    </div>
</form>

<form>
    <select asp-for="CurrentSort" asp-items="Model.SortList">
        <option value="">sort by...</option>
    </select>
    <button type="submit">Sort</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].PetName)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].PetType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].PetAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].Veterinarian)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pet) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.OwnerFirst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Veterinarian.VetLast)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PetId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PetId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<hr />
@{
    var prevDisabled = "";
    if (Model.PageNum <= 1)
    {
        prevDisabled = "disabled";
    }
}

<nav aria-label="Pet navigation">
    <ul class="pagination">
        <li class="page-item @prevDisabled"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum -1)">Previous</a></li>
        <li class="page-item"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum +1)">Next</a></li>
    </ul>
</nav>
