@page
@model EllroyVetClinic.Pages.Pets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].PetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].PetType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].PetAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].Veterinarian)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pet) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.OwnerFirst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Veterinarian.VetFirst)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PetId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PetId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
